@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700;900&display=swap');

/*
CREDITS:
BG: https://unsplash.com/photos/HD7E0qHS7mc


*/

$text-color: #202020;
$text-light: #909090;
$accent: #8d18d5;
$accent-hover: #5109aa;
$accent-click: #160127;
$neur-gradient: linear-gradient($accent, $accent-hover);

* {
    font-family: 'Inter', sans-serif;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.form>* {
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 100%;
    padding: 0 10rem;
    color: $text-color;

    &_header {
        margin-bottom: 2.5rem;

        h1 {
            width: 100%;
            font-size: 6em;
            font-weight: 700;
            line-height: 0;
            transition: all 0.5s linear;
        }

        p {
            width: 100%;
            font-size: 100%;
            font-weight: 200;
            color: $text-light;
        }

    }

    &_content {
        form {
            display: grid;
            grid-template: repeat(6, 0.5fr) / repeat(2, 1fr);
            column-gap: 2.5rem;
            justify-items: start;
            align-content: center;
            width: 100%;



            label {
                font-weight: 500;
                letter-spacing: 1px;
            }

            span {
                font-size: 0.75rem;
                font-weight: 200;
                color: $text-light
            }

            .required::before {
                content: "* ";
                color: red;
            }

            .form_content--field {
                width: 100%;
            }

            input {
                box-sizing: border-box;
                margin-top: 0.25rem;
                margin-bottom: 1.25rem;
                padding: 1rem 0.5rem;
                width: 100%;
                height: 1.5rem;
                background-color: #f4f4f4;
                border: none;
                outline: 1.25px transparent;
                transition: all 0.1s ease-in-out, outline 0.25s ease-in-out;
            }

            .email--label {
                grid-row: 2 / 3;
            }

            input[type="email"] {
                grid-row: 3 / 4;
                grid-column: span 2;
            }

            .phone--label {
                grid-row: 4 / 5;
            }

            input[type="tel"] {
                grid-row: 5 / 6;
                grid-column: span 2;
            }

            .password {
                grid-row: 6 / 7;
            }

            .confirm {
                grid-row: 6 / 7;
            }

            input:focus {
                transform: scale(1.025);
                outline: 1.25px solid $accent;
            }

            .onFocus {
                outline: 1.25px solid $accent;
            }

            .validBlur {
                outline: 1.25px solid #8cffc5;
            }

            .invalidBlur {
                outline: 1.25px solid #ff8c9b;
            }

            input:focus:valid {
                outline: 1.25px solid #8cffc5;
            }

            input:focus:invalid {
                outline: 1.25px solid #ff8c9b;
            }

            input:focus:placeholder-shown {
                outline: 1.25px solid $accent;
            }
        }
    }

    &_footer {
        margin: 2.5rem 0;

        input {
            width: 100%;
            height: 100%;
            font-weight: 600;
            color: white;
            background-color: $accent;
            border: none;
            outline: none;
            border-radius: 0.5rem;
            transition: all 0.25s linear;
        }

        input:hover {
            transform: scale(1.05);
            background-color: $accent-hover;
        }

        input:active {
            background-color: $accent-click;
        }

        .signin-text {
            color: $text-light;
        }

        a {
            font-size: 1rem;
            font-weight: 600;
            color: $accent;
            text-decoration: none;
        }

        a:hover {
            color: $accent-hover;
        }
    }
}

.background-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;

    h1 {
        position: absolute;
        opacity: 0;
    }

    img {
        filter: saturate(1.25) contrast(1.25);
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


@media (max-width: 430px) {

    html,
    body {
        overflow-x: hidden;
    }

    .main {
        flex-direction: column;
    }

    .background-image {
        width: 100%;
        height: 20%;
        margin-bottom: 2.25rem;

        img {
            width: 75%;
        }
    }

    .form {

        &_header {
            text-align: center;
        }

        &_content {
            form {
                display: flex;
                flex-direction: column;
            }
        }

        &_footer {
            p {
                text-align: center;
            }
        }
    }
}